@font-face {
  font-family: 'NotoSans';
  src: url('assets/fonts/notosans/NotoSansKR-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'NotoSans';
  src: url('assets/fonts/notosans/NotoSansKR-Regular.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'NotoSans';
  src: url('assets/fonts/notosans/NotoSansKR-Bold.otf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('assets/fonts/silkscreen/Silkscreen-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('assets/fonts/silkscreen/Silkscreen-Bold.ttf') format('truetype');
  font-weight: 700;
}
